<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/components::header"><title></title></head>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<div method="GET" class="container mt-4">
    <form th:object="${authorizationToken}">
        <div class="w3-row-padding w3-right">
            <div class="text-center text-lg-start w3-right">
                <a class="btn btn-primary btn-lg w3-right"
                   th:href="@{/ROLE_ADMIN_BB/addProduct(Authorization=${authorizationToken})}">
                    Add new product to inventory
                </a>
                <a class="btn btn-primary btn-lg w3-right w3-margin-right"
                   th:href="@{/ROLE_ADMIN_BB/createProduct(Authorization=${authorizationToken})}">
                    Create new product
                </a>
                <a class="btn btn-primary btn-lg w3-right w3-margin-right"
                   th:href="@{/ROLE_ADMIN_BB/commands(Authorization=${authorizationToken})}">
                    View commands
                </a>
            </div>
        </div>
    </form>

    <br>

    <tr th:if="${shopProducts == null || shopProducts.isEmpty()}">
        <td colspan="2"> No Products Available</td>
    </tr>
    <tr th:if="${shopProducts != null && !shopProducts.isEmpty()}">
        <table>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Expiration Date</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="inventory : ${shopProducts}">
                <td th:text="${inventory.getProduct().name}"></td>
                <td th:text="${inventory.getProduct().description}"></td>
                <td th:text="${inventory.getProduct().expirationDate}"></td>
                <td>
                    <form th:object="${updatedInventory}" th:method="post"
                          th:action="@{/ROLE_ADMIN_BB/{id}(id=${inventory.id}, Authorization=${authorizationToken})}">

                        <label for="quantity" th:text="'Quantity:'"></label>
                        <input id="quantity" name="quantity" th:min="1" type="number" th:value="${inventory.quantity}">

                        <button class="btn btn-primary w3-light-gray fa-align-right"
                                type="submit"> Save
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </tr>

    <form>
        <div class="text-center text-lg-start mt-4 pt-2">
            <a class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
               th:href="@{/login}">
                Log out
            </a>
        </div>
    </form>

</div>
<div th:include="fragments/components::bootstrap_script"></div>
</body>
</html>