<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/components::header"><title></title></head>

<body>
<div class="container mt-5" method="GET" th:object="${authorizationToken}">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form class="form-signin" method="POST" th:object="${userForm}"
              th:action="@{/ROLE_ADMIN/resetPassword/{id}(id=${userForm.id}, Authorization=${authorizationToken})}">
            <h2 class="form-heading text-center">Change password</h2>

            <div class="form-group">

                <!-- Password -->
                <div class="form-floating mb-3">
                    <input id="passwordInput" name="password" type="password" class="form-control"
                           th:field="*{password}" placeholder="Password">
                    <label for="passwordInput">Password</label>
                    <span class="has-error " th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>

                <!--Password Confirm -->
                <div class="form-floating mb-3">
                    <input id="confirmPassword" name="confirmPassword" type="password" class="form-control"
                           th:field="*{passwordConfirm}" placeholder="Password">
                    <label for="confirmPassword">Password</label>
                    <span class="has-error w3-text-red" th:if="${#fields.hasErrors('passwordConfirm')}"
                          th:errors="*{passwordConfirm}"></span>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            type="submit"> Save
                    </button>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <a class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                       th:href="@{/ROLE_ADMIN(Authorization=${authorizationToken})}">
                        Cancel
                    </a>
                </div>

            </div>
        </form>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"></div>

</body>
</html>